```{html}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/academicons@1.9.1/css/academicons.min.css">

<style>
  .btn-xs {
    padding: 1px 5px;
    font-size: 15px;
  }
  
  .ai-lg {
    font-size: 1.2em;  /* Adjust as needed */
  }
  
</style>

<ul class="list">
  <% for (const item of items) { %>
    <li <%= metadataAttrs(item) %>>
      <%= item.title %> 
      <br/>
      <p>
      <!-- display info format for other projects except R -->
      <% if (item.type !== 'R') { %>
        <small class="text-muted">
          <%= item.date %>. <%= item.author %> <%= item.year %>.
        </small>
      <% } %>
      
      <!-- display info format info for R projects -->
      <% if (item.type === 'R') { %>
        <small class="text-muted">
          <%= item.date %>. <%= item.author %> <%= item.year %>.
        </small>
      <% } %>
      
      <br/>
      
       <% if (item.github) { %>
        <a role="button" href="<%= item.github %>" type="button" class="btn btn-outline-secondary btn-xs"> 
          <i class="bi bi-github ai-lg"></i> GitHub Repo 
        </a>
      <% } %>
      </p>
      <hr>
    </li>
  <% } %>

</ul>


```

